@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full;
    @apply bg-muted-lightest;
  }

  body {
    @apply h-full;
  }
}

@keyframes animation-1bzpvkt {
  50% {
    transform: scale(0.75);
    opacity: 0.2;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.react-datepicker__day {
  @apply border rounded border-white;
}

.react-datepicker__day--today {
  @apply border-primary-dark;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  @apply bg-primary-dark !important;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--keyboard-selected:hover {
  @apply bg-primary-medium !important;
}

.total-border {
  border-top: 4px double #cbd5e1 !important;
}
